<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS, and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET Web API is a framework that makes it easy to build HTTP services that reach
            a broad range of clients, including browsers and mobile devices. ASP.NET Web API
            is an ideal platform for building RESTful applications on the .NET Framework.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301870">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301871">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301872">Learn more &raquo;</a></p>
    </div>
</div>
<form name='Newebpay' method='post' action='https://ccore.newebpay.com/MPG/mpg_gateway'>
<input type='hidden' id='MerchantID' name='MerchantID' value='MS125897385'>
<input type='hidden' id='TradeInfo' name='TradeInfo' value='fe22eb4b7feb330c45e8c2870d257349153c59e0d759b1b406323fd64ce8063959fcf09f7490dd2bad6e1263dad3a6857609ef4182b97743049ee8fabfaeb5c2186f5c48589abf0fd693c017ec4d12a94df8504c01a60c6a46c7faa5964a6bbf59ad661ec1f01f843e32274796cdee7ff2d911b6772e7fa9b9b9d6dd01d01350142649862dec42bd48391cec25d89bb7fe66baf8d152cd5bf39a1853f87ad9c45ce738337ddcdf7aaf2fe59eb7f17e3d894f271ba36c6e06b033c53d0223eda0ee6f16934cb63d2075c291b1d0d711acc7bb6c72dd438e5667bea06dad59d728ff59a57eb41052f99d3ba6479c12523a0798af27a311f1833eb418b3aa77d412f95d54f211720a020af36e9abe296002d3e1c4567efd0cabace4a503bfe4d2167cd61babca1306bc929dc2e356e6833c2b1489e6fd7cf6a94d51045cc36f3c37'>
<input type='hidden' id='TradeSha' name='TradeSha' value='E613393466250D2F893978EDB9F5B5BDC3209E4E197AE6E4C031545725CBDD31'>
<input type='hidden' id='Version' name='Version' value='1.6'>
    <input type='submit' value='Submit'>
</form>

@*<form name='Newebpay' method='post' action='https://localhost:44305/NewebPay/returnNotify'>
    <input type='hidden' id='Status' name='Status' value='SUCCESS'>
    <input type='hidden' id='MerchantID' name='MerchantID' value='MS125897385'>
    <input type='hidden' id='TradeInfo' name='TradeInfo' value='fe22eb4b7feb330c45e8c2870d257349153c59e0d759b1b406323fd64ce8063959fcf09f7490dd2bad6e1263dad3a6857609ef4182b97743049ee8fabfaeb5c227abf2e215c9b5b31ab142e42f1486f6684b71c4e6dc67bc86a55d2b2740550bfa8acee4b1f954c3b4099747feefdd187b43c3e5cad800bfd2ce19ea8c18021e6921f086e82ee8db038725ceee9c48549d9a2ab86452b11aa7b0a828c88287e7eb0f53940b48bfe17ba73ba31a41f90159b95b57e10679ba61953745c2fe3bb95e7e8c923c550a713e5818317545e842989b32493df94a6d8380c13b82e10b83230555d67cef05328faea1335b58553f905dafa07f68b2b00b1bb949feedda785e4484cfb47488276de16ce64c0c4356cc69020381d6cb90b41c01e599e4dfff'>
    <input type='hidden' id='TradeSha' name='TradeSha' value='93AC213683E70BD5385E7729BF4EEE26DA3CD48AE17B42ADEDAD5C4E71316D01'>
    <input type='hidden' id='Version' name='Version' value='1.6'>
    <input type='submit' value='Submit'>
</form>*@
